<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is home page
    <form id="cont-form">
        name <input type="text" id="inp-1" name="name">
        email <input type="email" id="inp-2" name="email">
        phone <input type="number" id="inp-3" name="phone">
        <button type="submit">add contact</button>
    </form>
</body>
<script src="home.js"></script>

</html>